/* 
style for my homework website.
*/

* {
    box-sizing: border-box;
    text-align: center;
    margin: 25px;
  }
  #city-search{
      border: 1px solid black;
      
  }

body {
    font-size: 24px;
    background-color: #d3d3ee;
    color: #ffffff;
    }

header {
    margin-top: 0px;
/*    float: left; */
    padding: 4.7%;
    /* width: 100%; */
    /* height: 50%; */
    color: #ccccff;
    background-color: #16498f;
    text-align: left;
    font-size: 7em;
    font-family: Helvetica;


}

#sports {
    font-size: 24px;
    background-color: #ff0000;
    color: #ffffff;
    margin-top: 50px;
    border: 50px;
    }

#esports {
    font-size: 24px;
    background-color: #0000ff;
    color: #ffffff;
    margin: 15px;
    }


/* #margin {
    margin: 50px;
} */

    /* create styles for the information divs */




/* #circle {
    float: left;
    border-radius: 50%;
    margin-left: 25px;
    margin-right: 25px;
    width: 18%;
    height: 18%;
    border: 15px solid #ffffff;
}

#clear {
    clear: both;
}

#blue {
    float: left;
    margin-top: 0px;
    margin-left: 0px;
    align-self: top;
    position: fixed;
    height: 100%;
    width: 20%;
    background-color: #2b4de6;
    z-index: -1;
}

#navigator {
    float: left;
    align-self: top;
    position: fixed;
    height: 100%;
    width: 20%;
    background-color: #2b4de6;
}

#button {
    float: left;
    margin-top: 10px;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 2%;
    border: 10px solid #f77f10;
    background-color: #fa903a;
    color: #ffffff;
    width: 80%;
    height: 55px;
    font-size: 25px;
    align-content: center;
    font-family: Impact;
    border-radius: 2%;
    clear: both;
}

#square {
    float: left;
    margin-left: 10%;
    margin-top: 10px;
    margin-right: 25px;
    width: 80%;
    height: 44%;
    border: 15px solid #ffffff;
} */